#title {
	text-align:center;
	font-size: 15;
	width: 240;
}

#variant {
    background: #d3e4e1;
    padding: 2px;
    border-color: black;
    border-width: thin;
    border-style: solid;
	font-size: 11;
	
}

#variant:hover {
	background: #b4d0cc;
}
