#title {
	text-align:center;
	font-size: 15;
	width: 217;
}

#variant {
    background: #d3e4e1;
    padding: 2px;
    border-color: black;
    border-width: thin;
    border-style: solid;
	font-size: 11;
	
}

#variant:hover {
	background: #b4d0cc;
}

#titleRows {
	text-align:center;
	width: 30;
}

#inputY {
	width: 180;
	border:0px;
	text-align:center;
}

#mainTable {
	font-size: 15;
	border:1px solid #000
}

#insideTable {
	font-size: 13;
	width: 100%;
}

#hoverable:hover {
	background: #f3f7f7;
}

#inputY:hover {
	background: #f3f7f7;
}

#confirmButton {
	width:100%;
}

#confirmCell {
	background: #d3e4e1;
}

#confirmCell:hover {
	background: #b4d0cc;
}

#error {
	background: #609c92;
	width: 100%;
	text-align: center;
	color: white;
}